<html>
    <head></head>
    <body>
        <h1>Edit Book</h1>
        <form action = "{{url_for('editBook', book_id=book_id)}}" method='POST'>
            <label for='name'>Name:</label>
            <input type='text' name='name'>
            <input type='submit' value='Submit'>
            <a href="{{url_for('showBook')}}">Cancel</a>
        </form>
    </body>
</html>