<html>
    <head></head>
    <body>
        <h1>New Book</h1>
        <form action = "{{url_for('newBook')}}" method='POST'>
            <label for='name'>Name:</label>
            <input type='text' name='name'>
            <input type='submit' value='Create'>
        </form>
    </body>
</html>