<html>
    <head>
    </head>
    <body>
        <h1>Books</h1>
        {% if books == [] %}
            <p>There are no books</p>
        {% else %}
            {% for i in books %}
                <div>
                    {{i.title}}
                    <a href="{{url_for('editBook', book_id=i.id)}}"><br>Edit books</a>
                    <a href="{{url_for('deleteBook', book_title=i.title, book_id=i.id)}}"><br>Delete books</a>
                    <br><br>
                </div>
            {% endfor %}
        {% endif %}
    </body>
</html>